@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

$white: white;
$orange: #f36523;
$brown: #783411;

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}
.main-block{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

header{
    z-index: 999;
    position: fixed;
    width: 100%;
    max-width: 1920px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9%;
    background-color: $white;
    @media (max-width: 1050px) {
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding: 0 0 0 1%;
        place-items: center;
        height: auto;   
        gap: 0;
    }
    @media (max-width: 500px) {
        height: 80px;
    }
}

nav{
    width: 100%;
    max-width: 700px;
    margin: 0 0 0 8%;
    @media (max-width: 1050px) {
        display: none;
        background-color: $white;
        position: absolute;
        top: 100%;
        right: 0;
    }
    @media (max-width: 600px) {
        a:hover{
            transition: .3s;
            text-align: center;
            margin: 0;
            background-color: #f36523;
            color: $white;
        }
    }
}

header img{
    width: 100%;
    margin: 0 0 0 30%;
    @media (max-width: 1050px) {
        margin: 0 0 0 1%;
    }
    @media (max-width: 500px) {
        width: 50%;
    }
}

nav a{
    font-size: 24px;
    font-weight: bolder;
    color: #000;
    text-decoration: none;
    margin: 0 3%;
}

.burger{
    cursor: pointer;
    display: none;
    padding: 0 2%;
    font-size: 50px;
    @media (max-width: 1050px) {
        display: block;
    }
}

main{
    padding: 160px 0 0 0;
    @media (max-width: 1050px) {
        padding: 80px 0;
    }
}

.nav-action{
    width: 50%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin: 0;
}

.section-selling{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 250px 0;
    text-align: center;
    background: url(./assets/sec1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    h1{
        font-size: 54px;
        color: $white;
        @media (max-width: 800px) {
            font-size: 34px;
        }
    }
    p{
        font-size: 20px;
        font-weight: bold;
        color: $white;
        padding: 1%;
        letter-spacing: 1px;
        @media (max-width: 800px) {
            font-size: 15px;
        }
    }
}

.block-buttons{
    display: flex;
    justify-content: center;
    padding: 1.8% 0;
}
.block-buttons input{
    z-index: 111;
    border-top: 20px solid $brown;
    border-right: 0;
    border-left: 20px solid $brown;
    border-bottom: 20px solid $brown;
    width: auto;
    background-color: $white;
    padding: 1.3% 19% 1.3% 1%;
    font-size: 16px;
    @media (max-width: 800px) {
        font-size: 12px;
        padding: 1.3% 0 1.3% 1%;
        border-top: 10px solid $brown;
        border-right: 0;
        border-left: 10px solid $brown;
        border-bottom: 10px solid $brown;
    }
}
.block-buttons button{
    cursor: pointer;
    transition: .5s;
    z-index: 1;
    border-top: 20px solid $brown;
    border-left: 0;
    border-right: 20px solid $brown;
    border-bottom: 20px solid $brown;
    background-color: $orange;
    color: $white;
    padding: 1.3% 2% 1.3% 2%;
    font-size: 16px;
    font-weight: bold;
    &:hover{
        background-color: $white;
        color: $orange;
    }
    @media (max-width: 800px) {
        font-size: 12px;
        border-top: 10px solid $brown;
        border-left: 0;
        border-right: 10px solid $brown;
        border-bottom: 10px solid $brown;
    }
}

.section-key-features{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 6%;
    font-size: 26px;
    font-weight: bold;
}

.outside-line{
    position: relative;
    width: 280px;
    height: 1px;
    margin: 1% auto;
    background-color: gray;
}

.inside-line{
    width: 100px;
    height: 8px;
    background-color: $orange;
    position: absolute;
    top: -3px;
    left: 90px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 27px;
    margin: 50px 0;
    .block-img{
        width: 150px;
        height: 150px;
        margin: 15% auto;
        box-shadow: 0 0 15px lightblue;
        border-radius: 50%;
    }
    img{
        margin: 35px 0;
    }
    h1{
        font-size: 26px;
        color: $orange;
        @media(max-width: 500px) {
            padding: 0 1.5%;
        }
    }
    p{
        padding: 10% 5%;
        font-size: 16px;
        color: gray;
    }
    @media (max-width: 900px) {
        flex-direction: column;
        align-items: center;
    }
}

.card{
    box-shadow: 0 0 15px lightblue;
    width: 100%;
    max-width: 370px;
    @media (max-width: 600px) {
        width: 90%;
    }
}

.section-selling-steps{
    background: url(./assets/sec3.jpg);
    background-size: cover;
    text-align: center;
    padding: 100px 0 300px 0;
    height: 500px;
    .card{
        background: $white;
        padding: 5% 0;
    }
    video{
        width: 30%;
        height: 250px;
        background-color: #000;
    }
}

.section-info{
    .card{
        background-color: $orange;
    }
    .bi{
        font-size: 24px;
        padding: 0 3%;
    }
    span{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5% 2%;
        border-bottom: 2px solid $white;
        color: $white;
    }
}

.section-subscription{
    text-align: center;
    background-color: $orange;
    padding: 5% 0;
    h1{
        font-size: 36px;
        color: $white;
    }
    p{
        font-size: 20px;
        color: $white
    }
}

.section-contacts{
    padding: 5% 0;
    @media (max-width: 800px) {
        padding: 5%;
    }
    .block-contacts{
        width: 100%;
        max-width: 1150px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
        margin: 0 auto;
        @media (max-width: 800px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    .block-sending-details{
        height: 300px;
        padding: 10% 5% 20% 5%;
        box-shadow: 0 0 15px lightblue; 
        @media (max-width: 800px) {
            padding: 3%;
        }
    }
    .block-sending-details h1{
        color: $orange;
        font-size: 28px;
        font-weight: 900;
    }
    .block-sending-details p{
        font-weight: 800;
        padding: 5% 0;
    }
    .block-sending-details input{
        width: 89%;
        border: 1px solid #eee;
        padding: 5%;
        margin: 0 0 10% 0;
        font-size: 18px;
        @media (max-width: 800px) {
            padding: 3%;
            font-size: 14px;
        }
    }
    .block-sending-details button{
        cursor: pointer;
        transition: .5s;
        width: 100%;
        border: .0;
        padding: 5%;
        background-color: $orange;
        color: $white;
        font-weight: 600;
        &:hover{
            background-color: $white;
            color: $orange;
        }
        @media (max-width: 800px) {
            width: 95%;
            padding: 3%;
        }
    }
    .block-auth{
        padding: 5%;
        box-shadow: 0 0 15px lightblue; 
        h1{
            font-size: 28px;
        }
        input{
            width: 95%;
            margin: 1% 0;
            padding: 3%; 
            font-size: 18px;
            border: 1px solid #eee;
            @media (max-width: 800px) {
                font-size: 14px;
            }
        }
        textarea{
            width: 95%;
            padding: 3%;
            margin: 1% 0;
            border: 1px solid #eee;
            font-size: 18px;
            @media (max-width: 800px) {
                font-size: 14px;
            }
        }
        button{
            cursor: pointer;
            transition: .5s;
            width: 30%;
            border: .0;
            padding: 2%;
            margin: 2% -1%;
            float: right;
            background-color: $orange;
            color: $white;
            font-weight: 600;
            &:hover{
                background-color: $white;
                color: $orange;
            }
        }
    }
}

footer{
    padding: 2% 0;
    text-align: center;
    background-color: #000;
    color: $white;
}